.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h3 {
  margin: 8px;
}

.calculatorContainer {
  background: #d0d0d0;
  width: 400px;
  padding: 8px;
  border-radius: 4px;
  margin: 8px;
  display: inline-block;
}

.rowData {
  width: calc(50% - 16px);
  margin: 4px;
  display: inline-block;
  text-align: left;
  font-size:16px;
  color: #505050;
}